<!-- navbar.component.html -->
<mat-toolbar class="navbar">
  <div class="logo-section">
    <img src="/logo.png" alt="SimSoft Logo" class="logo-image" />
    <div class="logo-text">
      <span class="text-black">Sim</span><span class="text-orange">Soft</span>
    </div>
  </div>

  <nav class="nav-links">
    <a routerLink="/user/dashboard" routerLinkActive="active" class="nav-link">
      Tableau de bord
    </a>
    <a
      routerLink="/user/mes-tickets"
      routerLinkActive="active"
      class="nav-link"
    >
      Mes Tickets
    </a>
  </nav>

  <div class="toolbar-icons">
    <mat-icon>notifications</mat-icon>
    <mat-icon>account_circle</mat-icon>
    <mat-icon class="logout-icon" (click)="logout()" title="Déconnexion"
      >exit_to_app</mat-icon
    >
  </div>
</mat-toolbar>
